    <link rel='stylesheet' href='/stylesheets/me.css' />
    <div class="jumbotron">
      <h1>Meet <%= name %></h1>
    </div>
    <div class="container me-grid">
      <div class="row">
        <div class="col-md-4">
          <img src="/images/me.png" />
        </div>
        <div class="col-md-4">
          <img src="/images/me.png" />
        </div>
    </div>
